/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

input
  box-sizing: border-box;

input[type="text"] 
  height: 2rem;
  width: 200px;
  color: #4e6e8e;
  display: inline-block;
  border: 1px solid #cfd4db;
  border-radius: 4px;
  font-size: 0.9rem;
  line-height: 2rem;
  padding: 0 0.5rem 0 0.5rem;
  outline: none;
  transition: all 0.2s ease;

.text-red 
  color: #f44336;


a.kofi-button
  display: flex !important;
  align-items: center;
  column-gap: 10px;
  white-space: nowrap;
  text-decoration: none;
  background-color: transparent;

.sidebar a.kofi-button   
  max-width: 100px;

img.kofiimg 
  height: 15px;
  width: 22px;
  animation: kofi-wiggle 3s infinite;


@keyframes kofi-wiggle {
  0% {
    transform: rotate(0) scale(1)
  }

  60% {
    transform: rotate(0) scale(1)
  }

  75% {
    transform: rotate(0) scale(1.12)
  }

  80% {
    transform: rotate(0) scale(1.1)
  }

  84% {
    transform: rotate(-10deg) scale(1.1)
  }

  88% {
    transform: rotate(10deg) scale(1.1)
  }

  92% {
    transform: rotate(-10deg) scale(1.1)
  }

  96% {
    transform: rotate(10deg) scale(1.1)
  }

  100% {
    transform: rotate(0) scale(1)
  }
}